
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 192rem;
}.account-details-asJ {
  height: 108rem;
  position: relative;
  overflow: hidden;
  background-color: #ffffff;
  width: 100%;

  .background-K4C {
    vertical-align: top;
    width: 199.0277rem;
    height: 121.3574rem;
    position: absolute;
    left: 0;
    top: 0;
    object-fit: contain;
  }
  .menu-e6U {
    box-sizing: border-box;
    padding-bottom: 5.1rem;
    height: 108rem;
    left: 0;
    border-radius: 0 2.4rem 2.4rem 0;
    width: 13.2rem;
    position: absolute;
    top: 0;
    align-items: center;
    display: flex;
    flex-direction: column;
    background-color: #1a0e70;

    .auto-group-jcyx-xN4 {
      box-sizing: border-box;
      padding: 6rem 4.8rem 3.3rem 4.9rem;
      width: 100%;
      align-items: center;
      display: flex;
      flex-direction: column;
      flex-shrink: 0;

      .icon-fXN {
        margin-bottom: 20.3rem;
        width: 3.5rem;
        height: 3.5rem;
        object-fit: contain;
        vertical-align: top;
        flex-shrink: 0;
      }
      .home-bfv {
        object-fit: contain;
        vertical-align: top;
        flex-shrink: 0;
        margin-bottom: 5.4rem;
        width: 3.5rem;
        height: 3.5rem;
        cursor: pointer;
      }
      .movie-wUt {
        object-fit: contain;
        vertical-align: top;
        flex-shrink: 0;
        margin-bottom: 5.3rem;
        width: 3.5rem;
        height: 3.5rem;
      }
      .fav-5b6 {
        vertical-align: top;
        flex-shrink: 0;
        margin-bottom: 3.6rem;
        width: 3.5rem;
        height: 3.5rem;
        cursor: pointer;
        object-fit: contain;
      }
      .notification-cqv {
        flex-shrink: 0;
        width: 3.5rem;
        height: 3.5rem;
        object-fit: contain;
        vertical-align: top;
      }
    }
    .group-68-kSL {
      width: 100%;
      display: flex;
      align-items: center;
      background-color: #1a194b;
      flex-shrink: 0;
      margin-bottom: 4.9rem;
      box-sizing: border-box;
      padding: 2.025rem 0.7rem 1.425rem 1.3rem;

      .icon-5Uc {
        margin-right: 1.35rem;
        width: 2.75rem;
        height: 2.75rem;
        object-fit: contain;
        vertical-align: top;
        flex-shrink: 0;
      }
      .account-dFE {
        white-space: nowrap;
        flex-shrink: 0;
        font-size: 1.8rem;
        font-weight: 700;
        line-height: 1.1725;
        letter-spacing: 0.05rem;
        color: #ffffff;
        font-family: Roboto, 'Source Sans Pro';
      }
    }
    .settings-LfS {
      flex-shrink: 0;
      margin: 0rem 0rem 23.4rem 0.1rem;
      width: 3.5rem;
      height: 3.5rem;
      cursor: pointer;
      object-fit: contain;
      vertical-align: top;
    }
    .vector-SCg {
      vertical-align: top;
      flex-shrink: 0;
      margin-left: 0.1rem;
      width: 3.5rem;
      height: 3.5rem;
      object-fit: contain;
    }
  }
  .button-A8g {
    position: absolute;
    font-size: 3.6rem;
    justify-content: center;
    border-radius: 1rem;
    line-height: 1.1725;
    color: #ffffff;
    background: linear-gradient(-90deg, #d71e2a 79.63%, #c70d4b 22.04%);
    width: 27rem;
    cursor: pointer;
    left: 82.5rem;
    font-weight: 700;
    height: 8.9rem;
    white-space: nowrap;
    display: flex;
    top: 86.3rem;
    letter-spacing: 0.05rem;
    font-family: Roboto, 'Source Sans Pro';
    align-items: center;
  }
  .account-Myr {
    padding-bottom: 5.2rem;
    width: 113.8rem;
    align-items: center;
    display: flex;
    border-bottom: solid 0.3rem #ffffff;
    box-sizing: border-box;
    position: absolute;
    left: 39.1rem;
    top: 25.8rem;
    flex-direction: column;
    height: 54.3rem;

    .account-details-shJ {
      flex-shrink: 0;
      margin: 0rem 0.6rem 2.9rem 0rem;
      font-size: 6.4rem;
      line-height: 1.1725;
      letter-spacing: 0.05rem;
      color: #ffffff;
      white-space: nowrap;
      font-weight: 700;
      font-family: Roboto, 'Source Sans Pro';
    }
    .line-1-yVS {
      margin-bottom: 4.5rem;
      width: 100%;
      height: 0.3rem;
      background-color: #ffffff;
      flex-shrink: 0;
    }
    .acc-info-7Lk {
      margin: 0rem 63.3rem 4.9rem 0rem;
      font-size: 3.6rem;
      font-weight: 500;
      line-height: 1.171875;
      font-family: Roboto, 'Source Sans Pro';
      max-width: 45.7rem;
      letter-spacing: 0.05rem;
      color: #ffffff;
      flex-shrink: 0;

      .acc-info-7Lk-sub-0 {
        font-family: Roboto, 'Source Sans Pro';
        font-size: 3.6rem;
        font-weight: 400;
        line-height: 1.1725;
        letter-spacing: 0.05rem;
        color: #ffffff;
      }
      .acc-info-7Lk-sub-1 {
        color: #ffffff;
        font-family: Roboto, 'Source Sans Pro';
        font-size: 3.6rem;
        font-weight: 700;
        line-height: 1.1725;
        letter-spacing: 0.05rem;
      }
      .acc-info-7Lk-sub-2 {
        font-size: 3.6rem;
        font-weight: 500;
        line-height: 1.1725;
        letter-spacing: 0.05rem;
        color: #ffffff;
        font-family: Roboto, 'Source Sans Pro';
      }
      .acc-info-7Lk-sub-3 {
        font-size: 3.6rem;
        font-weight: 400;
        line-height: 1.1725;
        letter-spacing: 0.05rem;
        color: #ffffff;
        font-family: Roboto, 'Source Sans Pro';
      }
      .acc-info-7Lk-sub-4 {
        font-size: 3.6rem;
        font-weight: 700;
        line-height: 1.1725;
        letter-spacing: 0.05rem;
        color: #ffffff;
        font-family: Roboto, 'Source Sans Pro';
      }
      .acc-info-7Lk-sub-5 {
        line-height: 1.1725;
        letter-spacing: 0.05rem;
        color: #ffffff;
        font-family: Roboto, 'Source Sans Pro';
        font-size: 3.6rem;
        font-weight: 400;
      }
      .acc-info-7Lk-sub-6 {
        letter-spacing: 0.05rem;
        color: #ffffff;
        font-family: Roboto, 'Source Sans Pro';
        font-size: 3.6rem;
        font-weight: 700;
        line-height: 1.1725;
      }
      .acc-info-7Lk-sub-7 {
        font-size: 3.6rem;
        font-weight: 700;
        line-height: 1.1725;
        letter-spacing: 0.05rem;
        color: #ffffff;
        font-family: Roboto, 'Source Sans Pro';
      }
      .acc-info-7Lk-sub-8 {
        font-size: 3.6rem;
        font-weight: 700;
        line-height: 1.1725;
        letter-spacing: 0.05rem;
        color: #ffffff;
        font-family: Roboto, 'Source Sans Pro';
      }
    }
  }
  .netflixlogocmyk-1-so6 {
    height: 9rem;
    position: absolute;
    left: 166.5rem;
    top: 2.5rem;
    object-fit: cover;
    vertical-align: top;
    width: 21.5rem;
  }
  .users-ZR2 {
    left: 59.2rem;
    top: 3.1rem;
    display: flex;
    align-items: flex-start;
    width: 73.7rem;
    height: 15.7rem;
    position: absolute;

    .jonas-Szc {
      margin-right: 10.3rem;
      padding: 0rem 2.2rem 1.9rem 2.7rem;
      display: flex;
      flex-direction: column;
      flex-shrink: 0;
      box-sizing: border-box;
      height: 100%;
      align-items: center;
      box-shadow: 0 0 2.7rem #ffffff;

      .auto-group-ennj-xTA {
        flex-shrink: 0;
        margin-bottom: 1.4rem;
        width: 8.9rem;
        height: 8.9rem;
        position: relative;
        object-fit: contain;
        vertical-align: top;
      }
      .jonas-5Gt {
        font-weight: 700;
        line-height: 1.33;
        letter-spacing: 0.05rem;
        white-space: nowrap;
        flex-shrink: 0;
        font-size: 2.6rem;
        text-align: center;
        color: #ffffff;
        font-family: Exo, 'Source Sans Pro';
        margin-right: 0.5rem;
      }
    }
    .martha-ZC4 {
      margin: 0.5rem 12.2rem 0rem 0rem;
      width: 8.4rem;
      height: 8.4rem;
      position: relative;
      object-fit: contain;
      vertical-align: top;
      flex-shrink: 0;
    }
    .hannah-GcG {
      vertical-align: top;
      flex-shrink: 0;
      margin: 0.5rem 12.2rem 0rem 0rem;
      width: 8.4rem;
      height: 8.4rem;
      position: relative;
      object-fit: contain;
    }
    .adam-NQQ {
      object-fit: contain;
      vertical-align: top;
      flex-shrink: 0;
      margin-top: 0.5rem;
      width: 8.4rem;
      height: 8.4rem;
      position: relative;
    }
  }
}
