
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 192rem;
}.favourite-YWU {
  width: 100%;
  height: 108rem;
  position: relative;
  overflow: hidden;
  background-color: #ffffff;

  .background-gcg {
    width: 199.0277rem;
    height: 121.3574rem;
    position: absolute;
    left: 0;
    top: 0;
    background-color: #111036;

    .vector-1-dH2 {
      width: 179.5397rem;
      height: 121.3574rem;
      object-fit: contain;
      vertical-align: top;
    }
  }
  .netflixlogocmyk-1-ZAg {
    position: absolute;
    left: 166.5rem;
    top: 2.5rem;
    object-fit: cover;
    vertical-align: top;
    width: 21.5rem;
    height: 9rem;
  }
  .menu-shA {
    border-radius: 0 2.4rem 2.4rem 0;
    height: 108rem;
    left: 0;
    display: flex;
    flex-direction: column;
    background-color: #1a0e70;
    align-items: center;
    box-sizing: border-box;
    padding-bottom: 5.1rem;
    width: 13.2rem;
    position: absolute;
    top: 0;

    .auto-group-ddef-Ndv {
      width: 100%;
      align-items: center;
      display: flex;
      flex-direction: column;
      flex-shrink: 0;
      box-sizing: border-box;
      padding: 6rem 4.9rem 3.5rem 4.8rem;

      .icon-tcG {
        margin-bottom: 20.3rem;
        width: 3.5rem;
        height: 3.5rem;
        object-fit: contain;
        vertical-align: top;
        flex-shrink: 0;
      }
      .home-cHN {
        margin-bottom: 6rem;
        width: 3.5rem;
        height: 3.5rem;
        cursor: pointer;
        object-fit: contain;
        vertical-align: top;
        flex-shrink: 0;
      }
      .movie-k8g {
        width: 3.5rem;
        height: 3.5rem;
        object-fit: contain;
        vertical-align: top;
        flex-shrink: 0;
      }
    }
    .auto-group-k8yo-tEt {
      margin-bottom: 3.4rem;
      box-sizing: border-box;
      padding: 2rem 2.7rem 1.4rem 1.8rem;
      width: 100%;
      display: flex;
      align-items: center;
      background-color: #1a194b;
      flex-shrink: 0;

      .fav-zYp {
        vertical-align: top;
        flex-shrink: 0;
        margin: 0rem 1rem 0.3rem 0rem;
        width: 2.5rem;
        height: 2.5rem;
        object-fit: contain;
      }
      .liked-iDv {
        line-height: 1.33;
        color: #ffffff;
        white-space: nowrap;
        flex-shrink: 0;
        margin-top: 0.1rem;
        font-size: 2rem;
        font-weight: 700;
        letter-spacing: 0.05rem;
        font-family: Exo, 'Source Sans Pro';
      }
    }
    .notification-CPz {
      width: 3.5rem;
      height: 3.5rem;
      object-fit: contain;
      vertical-align: top;
      flex-shrink: 0;
      margin: 0rem 0.1rem 4.8rem 0rem;
    }
    .icon-WQg {
      flex-shrink: 0;
      margin: 0rem 0.1rem 4.8rem 0rem;
      width: 3.5rem;
      height: 3.5rem;
      cursor: pointer;
      object-fit: contain;
      vertical-align: top;
    }
    .settings-e16 {
      flex-shrink: 0;
      margin: 0rem 0.1rem 23.4rem 0rem;
      width: 3.5rem;
      height: 3.5rem;
      cursor: pointer;
      object-fit: contain;
      vertical-align: top;
    }
    .vector-y3N {
      vertical-align: top;
      flex-shrink: 0;
      margin-right: 0.1rem;
      width: 3.5rem;
      height: 3.5rem;
      object-fit: contain;
    }
  }
  .users-suS {
    top: 3.1rem;
    display: flex;
    align-items: flex-start;
    width: 73.7rem;
    height: 15.7rem;
    position: absolute;
    left: 59.2rem;

    .jonas-bqS {
      box-sizing: border-box;
      padding: 0rem 2.2rem 1.9rem 2.7rem;
      height: 100%;
      align-items: center;
      display: flex;
      flex-direction: column;
      box-shadow: 0 0 2.7rem #ffffff;
      margin-right: 10.3rem;
      flex-shrink: 0;

      .auto-group-do2w-8Ka {
        vertical-align: top;
        flex-shrink: 0;
        margin-bottom: 1.4rem;
        width: 8.9rem;
        height: 8.9rem;
        position: relative;
        object-fit: contain;
      }
      .jonas-Tck {
        text-align: center;
        color: #ffffff;
        font-family: Exo, 'Source Sans Pro';
        flex-shrink: 0;
        letter-spacing: 0.05rem;
        white-space: nowrap;
        margin-right: 0.5rem;
        font-size: 2.6rem;
        font-weight: 700;
        line-height: 1.33;
      }
    }
    .martha-LRe {
      vertical-align: top;
      flex-shrink: 0;
      margin: 0.5rem 12.2rem 0rem 0rem;
      width: 8.4rem;
      height: 8.4rem;
      position: relative;
      object-fit: contain;
    }
    .hannah-rPz {
      margin: 0.5rem 12.2rem 0rem 0rem;
      width: 8.4rem;
      height: 8.4rem;
      position: relative;
      object-fit: contain;
      vertical-align: top;
      flex-shrink: 0;
    }
    .adam-AvU {
      position: relative;
      object-fit: contain;
      vertical-align: top;
      flex-shrink: 0;
      margin-top: 0.5rem;
      width: 8.4rem;
      height: 8.4rem;
    }
  }
  .content-h9i {
    width: 156.2rem;
    height: 87.5rem;
    position: absolute;
    left: 27.8rem;
    top: 18.4rem;
    overflow: hidden;

    .content-2St {
      flex-direction: column;
      width: 198.9rem;
      height: 241.1rem;
      align-items: center;
      display: flex;

      .auto-group-mmvh-mfN {
        width: 100%;
        height: 82.4rem;
        position: relative;
        flex-shrink: 0;

        .seasons-JvC {
          height: 5.3rem;
          position: absolute;
          left: 1.4rem;
          top: 70.5rem;
          display: flex;
          align-items: flex-start;
          width: 94.7rem;

          .auto-group-urmd-ptY {
            flex-shrink: 0;
            height: 100%;
            font-size: 3rem;
            line-height: 1.33;
            color: #ffffff;
            font-family: Exo, 'Source Sans Pro';
            box-sizing: border-box;
            margin-right: 8rem;
            font-weight: 700;
            letter-spacing: 0.05rem;
            white-space: nowrap;
            border-bottom: solid 0.4rem #ffffff;
          }
          .season-2-CGp {
            color: #ffffff;
            font-family: Exo, 'Source Sans Pro';
            white-space: nowrap;
            font-size: 2.8rem;
            font-weight: 600;
            line-height: 1.33;
            letter-spacing: 0.05rem;
            flex-shrink: 0;
            margin: 0.2rem 8.3rem 0rem 0rem;
          }
          .season-3-VWp {
            color: #ffffff;
            font-family: Exo, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            margin: 0.2rem 8.5rem 0rem 0rem;
            font-size: 2.8rem;
            font-weight: 600;
            line-height: 1.33;
            letter-spacing: 0.05rem;
          }
          .season-4-zTa {
            letter-spacing: 0.05rem;
            color: #ffffff;
            font-size: 2.8rem;
            font-weight: 600;
            line-height: 1.33;
            flex-shrink: 0;
            margin: 0.2rem 8.5rem 0rem 0rem;
            font-family: Exo, 'Source Sans Pro';
            white-space: nowrap;
          }
          .season-5-uaY {
            flex-shrink: 0;
            font-weight: 600;
            letter-spacing: 0.05rem;
            white-space: nowrap;
            color: #ffffff;
            font-family: Exo, 'Source Sans Pro';
            margin-top: 0.2rem;
            font-size: 2.8rem;
            line-height: 1.33;
          }
        }
        .line-3-EMv {
          top: 66.4rem;
          background-color: #ffffff;
          width: 156.2rem;
          height: 0.3rem;
          position: absolute;
          left: 0;
        }
        .movie-AWU {
          top: 0;
          display: flex;
          align-items: flex-end;
          width: 156.2rem;
          height: 60rem;
          position: absolute;
          left: 0;

          .breaking-bad-release-date-20-january-2008-cast-bryan-cranston-aaron-paul-anna-gunn-genres-crime-tv-dramas-tv-thrillers-us-tv-shows-JMn {
            margin: 0rem 13.5rem 1.4rem 0rem;
            font-weight: 700;
            color: #ffffff;
            flex-shrink: 0;
            max-width: 28.8rem;
            font-size: 3.6rem;
            line-height: 1.1725;
            letter-spacing: 0.05rem;
            font-family: Roboto, 'Source Sans Pro';

            .breaking-bad-release-date-20-january-2008-cast-bryan-cranston-aaron-paul-anna-gunn-genres-crime-tv-dramas-tv-thrillers-us-tv-shows-JMn-sub-0 {
              font-family: Roboto, 'Source Sans Pro';
              font-size: 4.8rem;
              font-weight: 700;
              line-height: 1.1725;
              letter-spacing: 0.05rem;
              color: #ffffff;
            }
            .breaking-bad-release-date-20-january-2008-cast-bryan-cranston-aaron-paul-anna-gunn-genres-crime-tv-dramas-tv-thrillers-us-tv-shows-JMn-sub-1 {
            }
            .breaking-bad-release-date-20-january-2008-cast-bryan-cranston-aaron-paul-anna-gunn-genres-crime-tv-dramas-tv-thrillers-us-tv-shows-JMn-sub-2 {
              font-size: 2.6rem;
              font-weight: 700;
              line-height: 1.33;
              letter-spacing: 0.05rem;
              color: #c4c4c4;
              font-family: Exo, 'Source Sans Pro';
            }
            .breaking-bad-release-date-20-january-2008-cast-bryan-cranston-aaron-paul-anna-gunn-genres-crime-tv-dramas-tv-thrillers-us-tv-shows-JMn-sub-3 {
              font-family: Roboto, 'Source Sans Pro';
              font-size: 2.8rem;
              font-weight: 400;
              line-height: 1.1725;
              letter-spacing: 0.05rem;
              color: #ffffff;
            }
            .breaking-bad-release-date-20-january-2008-cast-bryan-cranston-aaron-paul-anna-gunn-genres-crime-tv-dramas-tv-thrillers-us-tv-shows-JMn-sub-4 {
            }
            .breaking-bad-release-date-20-january-2008-cast-bryan-cranston-aaron-paul-anna-gunn-genres-crime-tv-dramas-tv-thrillers-us-tv-shows-JMn-sub-5 {
              font-weight: 700;
              line-height: 1.33;
              letter-spacing: 0.05rem;
              color: #c4c4c4;
              font-family: Exo, 'Source Sans Pro';
              font-size: 2.6rem;
            }
            .breaking-bad-release-date-20-january-2008-cast-bryan-cranston-aaron-paul-anna-gunn-genres-crime-tv-dramas-tv-thrillers-us-tv-shows-JMn-sub-6 {
              letter-spacing: 0.05rem;
              color: #ffffff;
              font-family: Roboto, 'Source Sans Pro';
              font-size: 2.8rem;
              font-weight: 400;
              line-height: 1.1725;
            }
            .breaking-bad-release-date-20-january-2008-cast-bryan-cranston-aaron-paul-anna-gunn-genres-crime-tv-dramas-tv-thrillers-us-tv-shows-JMn-sub-7 {
            }
            .breaking-bad-release-date-20-january-2008-cast-bryan-cranston-aaron-paul-anna-gunn-genres-crime-tv-dramas-tv-thrillers-us-tv-shows-JMn-sub-8 {
              font-size: 2.6rem;
              font-weight: 700;
              line-height: 1.33;
              letter-spacing: 0.05rem;
              color: #c4c4c4;
              font-family: Exo, 'Source Sans Pro';
            }
            .breaking-bad-release-date-20-january-2008-cast-bryan-cranston-aaron-paul-anna-gunn-genres-crime-tv-dramas-tv-thrillers-us-tv-shows-JMn-sub-9 {
              color: #ffffff;
              font-family: Roboto, 'Source Sans Pro';
              font-size: 2.8rem;
              font-weight: 400;
              line-height: 1.1725;
              letter-spacing: 0.05rem;
            }
          }
          .auto-group-axym-gKi {
            width: 113.9rem;
            height: 60rem;
            position: relative;
            object-fit: contain;
            vertical-align: top;
            flex-shrink: 0;
          }
        }
      }
      .seaoson-1-zrC {
        width: 100%;
        display: flex;
        flex-direction: column;
        flex-shrink: 0;

        .auto-group-uavj-x2L {
          height: 117.6rem;
          display: flex;
          flex-direction: column;
          flex-shrink: 0;
          box-sizing: border-box;
          padding-bottom: 2.7rem;
          width: 100%;

          .ep1-rNc {
            flex-shrink: 0;
            margin: 0rem 4.6rem 3rem 0rem;
            width: calc(100% - 4.6rem);
            height: 17.5rem;
            display: flex;
            align-items: center;

            .group-83-yTE {
              vertical-align: top;
              flex-shrink: 0;
              margin-right: 4rem;
              width: 30.5rem;
              height: 17.5rem;
              position: relative;
              object-fit: contain;
            }
            .auto-group-hup1-73e {
              margin: 2rem 0rem 4.685rem 0rem;
              width: 159.8rem;
              height: calc(100% - 6.685rem);
              flex-shrink: 0;

              .auto-group-ke7h-pye {
                margin-right: 86.1rem;
                width: calc(100% - 86.1rem);
                display: flex;
                align-items: center;

                .eposode-1-pilot-yLk {
                  flex-shrink: 0;
                  margin-right: 44.3rem;
                  font-weight: 700;
                  font-family: Exo, 'Source Sans Pro';
                  align-items: baseline;
                  white-space: nowrap;
                  display: flex;
                  font-size: 3rem;
                  line-height: 1.33;
                  letter-spacing: 0.05rem;
                  color: #000000;

                  .eposode-1-pilot-yLk-sub-0 {
                    font-weight: 700;
                    line-height: 1.33;
                    letter-spacing: 0.05rem;
                    color: #ffffff;
                    font-family: Exo, 'Source Sans Pro';
                    font-size: 3rem;
                  }
                  .eposode-1-pilot-yLk-sub-1 {
                  }
                }
                .min-LqW {
                  font-size: 2.4rem;
                  font-weight: 400;
                  white-space: nowrap;
                  color: #979797;
                  font-family: Roboto, 'Source Sans Pro';
                  flex-shrink: 0;
                  margin-top: 0.5rem;
                  line-height: 1.1725;
                  letter-spacing: 0.05rem;
                }
              }
              .auto-group-gbyk-sKe {
                width: 100%;
                height: 6.815rem;
                position: relative;

                .diagnosed-with-terminal-lung-cancer-a-high-school-chemistry-teacher-resorts-to-cooking-and-selling-methamphetamine-to-provide-for-his-family-oyz {
                  position: absolute;
                  top: 1.2rem;
                  font-size: 2.4rem;
                  font-weight: 400;
                  line-height: 1.1725;
                  color: #979797;
                  font-family: Roboto, 'Source Sans Pro';
                  width: 159.8rem;
                  height: 2.9rem;
                  left: 0;
                  letter-spacing: 0.05rem;
                  white-space: nowrap;
                }
                .play-3dS {
                  box-sizing: border-box;
                  height: 6.815rem;
                  position: absolute;
                  left: 104.1rem;
                  top: 0;
                  background-repeat: no-repeat;
                  background-position: center;
                  padding: 1.789rem 1.789rem 1.789rem 2.482rem;
                  width: 6.8149rem;
                  background-size: cover;
                  background-image: url('REPLACE_IMAGE:43:122');

                  .vector-MPE {
                    width: 2.544rem;
                    height: 3.2379rem;
                    object-fit: contain;
                    vertical-align: top;
                  }
                }
              }
            }
          }
          .line-6-fPv {
            flex-shrink: 0;
            margin-bottom: 3rem;
            width: 152.9rem;
            height: 0;
            object-fit: contain;
            vertical-align: top;
          }
          .ep2-QMW {
            margin: 0rem 2.7rem 3.1rem 0rem;
            width: calc(100% - 2.7rem);
            height: 17.5rem;
            display: flex;
            align-items: center;
            flex-shrink: 0;

            .group-84-WvL {
              margin-right: 4rem;
              width: 30.5rem;
              height: 17.5rem;
              position: relative;
              object-fit: contain;
              vertical-align: top;
              flex-shrink: 0;
            }
            .auto-group-dnhm-rDW {
              margin: 2rem 0rem 4.685rem 0rem;
              width: 161.7rem;
              height: calc(100% - 6.685rem);
              flex-shrink: 0;

              .auto-group-cxkm-LeU {
                margin-right: 88rem;
                width: calc(100% - 88rem);
                display: flex;
                align-items: center;

                .eposode-2the-cats-in-the-bag-gCY {
                  display: flex;
                  font-size: 3rem;
                  font-family: Exo, 'Source Sans Pro';
                  white-space: nowrap;
                  letter-spacing: 0.05rem;
                  color: #000000;
                  align-items: baseline;
                  flex-shrink: 0;
                  margin-right: 23rem;
                  font-weight: 700;
                  line-height: 1.33;

                  .eposode-2the-cats-in-the-bag-gCY-sub-0 {
                    font-family: Exo, 'Source Sans Pro';
                    font-size: 3rem;
                    font-weight: 700;
                    line-height: 1.33;
                    letter-spacing: 0.05rem;
                    color: #ffffff;
                  }
                  .eposode-2the-cats-in-the-bag-gCY-sub-1 {
                  }
                }
                .min-ENU {
                  line-height: 1.1725;
                  letter-spacing: 0.05rem;
                  white-space: nowrap;
                  flex-shrink: 0;
                  margin-top: 0.5rem;
                  font-size: 2.4rem;
                  font-weight: 400;
                  color: #979797;
                  font-family: Roboto, 'Source Sans Pro';
                }
              }
              .auto-group-luvv-Ye4 {
                width: 100%;
                height: 6.815rem;
                position: relative;

                .their-first-aborted-drug-deal-forces-walt-and-jesse-to-dispose-of-a-pair-of-corpses-meanwhile-skyler-suspects-that-her-husband-is-up-to-no-good-VpC {
                  height: 2.9rem;
                  position: absolute;
                  top: 1.2rem;
                  font-size: 2.4rem;
                  line-height: 1.1725;
                  font-family: Roboto, 'Source Sans Pro';
                  width: 161.7rem;
                  font-weight: 400;
                  letter-spacing: 0.05rem;
                  color: #979797;
                  white-space: nowrap;
                  left: 0;
                }
                .play-button-LK2 {
                  top: 0;
                  background-repeat: no-repeat;
                  background-position: center;
                  position: absolute;
                  padding: 1.789rem 1.789rem 1.789rem 2.482rem;
                  width: 6.8149rem;
                  height: 6.815rem;
                  left: 104.1rem;
                  background-size: cover;
                  background-image: url('REPLACE_IMAGE:43:127');
                  box-sizing: border-box;

                  .vector-oyJ {
                    width: 2.544rem;
                    height: 3.2379rem;
                    object-fit: contain;
                    vertical-align: top;
                  }
                }
              }
            }
          }
          .line-7-HtU {
            margin-bottom: 2.7rem;
            width: 152.9rem;
            height: 0.3rem;
            object-fit: contain;
            vertical-align: top;
            flex-shrink: 0;
          }
          .ep3-oM2 {
            margin: 0rem 32rem 3rem 0rem;
            width: calc(100% - 32rem);
            display: flex;
            align-items: flex-start;
            flex-shrink: 0;

            .group-85-uQ4 {
              vertical-align: top;
              flex-shrink: 0;
              margin-right: 4rem;
              width: 30.5rem;
              height: 17.5rem;
              position: relative;
              object-fit: contain;
            }
            .auto-group-h7mr-1xt {
              margin-top: 2rem;
              width: 132.4rem;
              height: 9.215rem;
              position: relative;
              flex-shrink: 0;

              .eposode-3-and-the-bags-in-the-river-8Xi {
                width: 53.9rem;
                top: 0;
                font-weight: 700;
                letter-spacing: 0.05rem;
                color: #000000;
                line-height: 1.33;
                display: flex;
                align-items: baseline;
                position: absolute;
                white-space: nowrap;
                height: 4rem;
                left: 0;
                font-size: 3rem;
                font-family: Exo, 'Source Sans Pro';

                .eposode-3-and-the-bags-in-the-river-8Xi-sub-0 {
                  font-size: 3rem;
                  font-weight: 700;
                  line-height: 1.33;
                  letter-spacing: 0.05rem;
                  color: #ffffff;
                  font-family: Exo, 'Source Sans Pro';
                }
                .eposode-3-and-the-bags-in-the-river-8Xi-sub-1 {
                }
              }
              .as-walt-cleans-up-the-mess-that-was-left-after-his-first-drug-deal-skyler-gets-too-close-to-the-truth-about-his-double-life-DxU {
                width: 132.4rem;
                top: 5.2rem;
                font-weight: 400;
                color: #979797;
                white-space: nowrap;
                font-family: Roboto, 'Source Sans Pro';
                height: 2.9rem;
                position: absolute;
                left: 0;
                font-size: 2.4rem;
                line-height: 1.1725;
                letter-spacing: 0.05rem;
              }
              .play-button-V9J {
                box-sizing: border-box;
                padding: 1.789rem 1.789rem 1.789rem 2.482rem;
                position: absolute;
                left: 104.1rem;
                width: 6.8149rem;
                height: 6.815rem;
                top: 2.4rem;
                background-size: cover;
                background-repeat: no-repeat;
                background-position: center;
                background-image: url('REPLACE_IMAGE:43:132');

                .vector-bCL {
                  object-fit: contain;
                  vertical-align: top;
                  width: 2.544rem;
                  height: 3.2379rem;
                }
              }
              .min-j3e {
                white-space: nowrap;
                width: 7rem;
                height: 2.9rem;
                position: absolute;
                font-weight: 400;
                line-height: 1.1725;
                letter-spacing: 0.05rem;
                left: 66.7rem;
                top: 0.7rem;
                font-size: 2.4rem;
                color: #979797;
                font-family: Roboto, 'Source Sans Pro';
              }
            }
          }
          .line-8-pqn {
            flex-shrink: 0;
            margin-bottom: 2.7rem;
            width: 152.9rem;
            height: 0.3rem;
            object-fit: contain;
            vertical-align: top;
          }
          .ep4-ZoN {
            display: flex;
            align-items: center;
            flex-shrink: 0;
            margin: 0rem 9.3rem 3rem 0rem;
            width: calc(100% - 9.3rem);
            height: 17.5rem;

            .group-86-Vh2 {
              width: 30.5rem;
              height: 17.5rem;
              position: relative;
              object-fit: contain;
              vertical-align: top;
              flex-shrink: 0;
              margin-right: 4rem;
            }
            .auto-group-ksmh-doE {
              position: relative;
              flex-shrink: 0;
              margin: 2rem 0rem 4.685rem 0rem;
              width: 155.1rem;
              height: calc(100% - 6.685rem);

              .eposode-4-cancer-man-MDS {
                position: absolute;
                top: 0;
                color: #000000;
                white-space: nowrap;
                height: 4rem;
                left: 0;
                font-size: 3rem;
                font-weight: 700;
                display: flex;
                align-items: baseline;
                letter-spacing: 0.05rem;
                font-family: Exo, 'Source Sans Pro';
                width: 33.3rem;
                line-height: 1.33;

                .eposode-4-cancer-man-MDS-sub-0 {
                  font-family: Exo, 'Source Sans Pro';
                  font-size: 3rem;
                  font-weight: 700;
                  line-height: 1.33;
                  letter-spacing: 0.05rem;
                  color: #ffffff;
                }
                .eposode-4-cancer-man-MDS-sub-1 {
                }
              }
              .being-forced-to-reveal-the-truth-about-his-illness-leaves-walt-facing-the-dilemma-of-how-to-pay-for-an-expensive-series-of-cancer-treatments-VDA {
                white-space: nowrap;
                font-weight: 400;
                height: 2.9rem;
                position: absolute;
                left: 0;
                top: 5.2rem;
                font-size: 2.4rem;
                line-height: 1.1725;
                letter-spacing: 0.05rem;
                width: 155.1rem;
                font-family: Roboto, 'Source Sans Pro';
                color: #979797;
              }
              .play-button-YSL {
                background-repeat: no-repeat;
                background-position: center;
                background-image: url('REPLACE_IMAGE:43:137');
                width: 6.8149rem;
                position: absolute;
                left: 104.1rem;
                background-size: cover;
                box-sizing: border-box;
                padding: 1.789rem 1.789rem 1.789rem 2.482rem;
                height: 6.815rem;
                top: 4rem;

                .vector-3P6 {
                  height: 3.2379rem;
                  object-fit: contain;
                  vertical-align: top;
                  width: 2.544rem;
                }
              }
              .min-ynY {
                font-family: Roboto, 'Source Sans Pro';
                white-space: nowrap;
                top: 0.7rem;
                line-height: 1.1725;
                color: #979797;
                left: 66.7rem;
                font-size: 2.4rem;
                font-weight: 400;
                letter-spacing: 0.05rem;
                width: 7rem;
                height: 2.9rem;
                position: absolute;
              }
            }
          }
          .line-9-Gme {
            height: 0.3rem;
            object-fit: contain;
            vertical-align: top;
            flex-shrink: 0;
            margin-bottom: 2.6999rem;
            width: 152.9rem;
          }
          .ep5-Qsr {
            align-items: center;
            flex-shrink: 0;
            margin: 0rem 11.6rem 3rem 0rem;
            width: calc(100% - 11.6rem);
            height: 17.5rem;
            display: flex;

            .group-89-LmW {
              flex-shrink: 0;
              margin-right: 4rem;
              width: 30.5rem;
              height: 17.5rem;
              position: relative;
              object-fit: contain;
              vertical-align: top;
            }
            .auto-group-pzxs-5j6 {
              width: 152.8rem;
              height: calc(100% - 6.6849rem);
              flex-shrink: 0;
              margin: 2rem 0rem 4.685rem 0rem;

              .auto-group-eksf-1ck {
                margin: 0rem 79.1rem 0rem 0rem;
                width: calc(100% - 79.1rem);
                display: flex;
                align-items: center;

                .eposode-5-gray-matter-wmJ {
                  font-family: Exo, 'Source Sans Pro';
                  font-size: 3rem;
                  font-weight: 700;
                  line-height: 1.33;
                  white-space: nowrap;
                  display: flex;
                  align-items: baseline;
                  flex-shrink: 0;
                  margin-right: 33rem;
                  letter-spacing: 0.05rem;
                  color: #000000;

                  .eposode-5-gray-matter-wmJ-sub-0 {
                    font-weight: 700;
                    line-height: 1.33;
                    letter-spacing: 0.05rem;
                    color: #ffffff;
                    font-family: Exo, 'Source Sans Pro';
                    font-size: 3rem;
                  }
                  .eposode-5-gray-matter-wmJ-sub-1 {
                  }
                }
                .min-JVN {
                  font-size: 2.4rem;
                  font-weight: 400;
                  letter-spacing: 0.05rem;
                  color: #979797;
                  font-family: Roboto, 'Source Sans Pro';
                  white-space: nowrap;
                  flex-shrink: 0;
                  margin-top: 0.3rem;
                  line-height: 1.1725;
                }
              }
              .auto-group-wfm1-pTi {
                width: 100%;
                height: 6.815rem;
                position: relative;

                .skyler-organizes-an-intervention-to-persuade-walt-to-accept-his-former-research-partners-generous-offer-to-pay-for-the-cancer-treatments-NEL {
                  color: #979797;
                  font-family: Roboto, 'Source Sans Pro';
                  white-space: nowrap;
                  height: 2.9rem;
                  position: absolute;
                  top: 1.1999rem;
                  font-size: 2.4rem;
                  font-weight: 400;
                  line-height: 1.1725;
                  letter-spacing: 0.05rem;
                  width: 152.8rem;
                  left: 0;
                }
                .play-button-RTW {
                  padding: 1.789rem 1.789rem 1.789rem 2.482rem;
                  height: 6.815rem;
                  background-size: cover;
                  background-repeat: no-repeat;
                  background-image: url('REPLACE_IMAGE:43:142');
                  box-sizing: border-box;
                  width: 6.8149rem;
                  position: absolute;
                  left: 104.1rem;
                  top: 0;
                  background-position: center;

                  .vector-YHE {
                    width: 2.544rem;
                    height: 3.2379rem;
                    object-fit: contain;
                    vertical-align: top;
                  }
                }
              }
            }
          }
          .line-10-f6x {
            flex-shrink: 0;
            width: 152.9rem;
            height: 0.3rem;
            object-fit: contain;
            vertical-align: top;
          }
        }
        .ep6-oU4 {
          flex-shrink: 0;
          margin-bottom: 3rem;
          width: 100%;
          height: 17.5rem;
          display: flex;
          align-items: center;

          .group-87-MEg {
            width: 30.5rem;
            height: 17.5rem;
            position: relative;
            object-fit: contain;
            vertical-align: top;
            flex-shrink: 0;
            margin-right: 4rem;
          }
          .auto-group-gf67-He8 {
            width: 164.4rem;
            height: calc(100% - 6.685rem);
            position: relative;
            flex-shrink: 0;
            margin: 2rem 0rem 4.685rem 0rem;

            .eposode-6-crazy-handful-of-nothin-cRW {
              color: #000000;
              font-family: Exo, 'Source Sans Pro';
              position: absolute;
              line-height: 1.33;
              letter-spacing: 0.05rem;
              white-space: nowrap;
              font-size: 3rem;
              left: 0;
              top: 0;
              display: flex;
              width: 51.4rem;
              font-weight: 700;
              align-items: baseline;
              height: 4rem;

              .eposode-6-crazy-handful-of-nothin-cRW-sub-0 {
                font-weight: 700;
                line-height: 1.33;
                letter-spacing: 0.05rem;
                color: #ffffff;
                font-family: Exo, 'Source Sans Pro';
                font-size: 3rem;
              }
              .eposode-6-crazy-handful-of-nothin-cRW-sub-1 {
              }
            }
            .with-the-side-effects-and-cost-of-his-treatment-mounting-walt-demands-that-jesse-find-a-wholesaler-to-buy-their-drugs-which-lands-him-in-trouble-jeY {
              font-weight: 400;
              line-height: 1.1725;
              letter-spacing: 0.05rem;
              color: #979797;
              width: 164.4rem;
              height: 2.9rem;
              position: absolute;
              top: 5.2rem;
              white-space: nowrap;
              left: 0;
              font-size: 2.4rem;
              font-family: Roboto, 'Source Sans Pro';
            }
            .play-button-afA {
              height: 6.815rem;
              position: absolute;
              top: 4rem;
              box-sizing: border-box;
              padding: 1.789rem 1.789rem 1.789rem 2.482rem;
              width: 6.8149rem;
              left: 104.1rem;
              background-size: cover;
              background-repeat: no-repeat;
              background-position: center;
              background-image: url('REPLACE_IMAGE:43:147');

              .vector-Gnt {
                width: 2.544rem;
                height: 3.2379rem;
                object-fit: contain;
                vertical-align: top;
              }
            }
            .min-CwS {
              white-space: nowrap;
              height: 2.9rem;
              position: absolute;
              top: 0.7rem;
              font-size: 2.4rem;
              font-weight: 400;
              line-height: 1.1725;
              width: 7rem;
              left: 66.7rem;
              letter-spacing: 0.05rem;
              color: #979797;
              font-family: Roboto, 'Source Sans Pro';
            }
          }
        }
        .line-11-Jja {
          margin-bottom: 2.8rem;
          width: 152.9rem;
          height: 0.3rem;
          object-fit: contain;
          vertical-align: top;
          flex-shrink: 0;
        }
        .ep7-FPv {
          width: calc(100% - 1.8rem);
          height: 17.5rem;
          display: flex;
          align-items: center;
          flex-shrink: 0;
          margin-right: 1.8rem;

          .group-88-bCt {
            width: 30.5rem;
            height: 17.5rem;
            position: relative;
            object-fit: contain;
            vertical-align: top;
            flex-shrink: 0;
            margin-right: 4rem;
          }
          .auto-group-rbc3-XsE {
            width: 162.6rem;
            height: calc(100% - 6.685rem);
            position: relative;
            flex-shrink: 0;
            margin: 2rem 0rem 4.685rem 0rem;

            .eposode-7-a-no-rough-stuff-type-deal-dvG {
              white-space: nowrap;
              align-items: baseline;
              color: #000000;
              font-family: Exo, 'Source Sans Pro';
              height: 4rem;
              letter-spacing: 0.05rem;
              top: 0;
              font-size: 3rem;
              display: flex;
              position: absolute;
              left: 0;
              line-height: 1.33;
              width: 57.2rem;
              font-weight: 700;

              .eposode-7-a-no-rough-stuff-type-deal-dvG-sub-0 {
                font-family: Exo, 'Source Sans Pro';
                font-size: 3rem;
                font-weight: 700;
                line-height: 1.33;
                letter-spacing: 0.05rem;
                color: #ffffff;
              }
              .eposode-7-a-no-rough-stuff-type-deal-dvG-sub-1 {
              }
            }
            .after-jesses-brush-with-death-walt-agrees-to-produce-even-more-drugs-for-the-ruthless-tuco-meanwhile-skyler-suspects-her-sister-of-shoplifting-aU8 {
              width: 162.6rem;
              height: 2.9rem;
              left: 0;
              font-size: 2.4rem;
              font-weight: 400;
              line-height: 1.1725;
              position: absolute;
              top: 5.2rem;
              letter-spacing: 0.05rem;
              color: #979797;
              font-family: Roboto, 'Source Sans Pro';
              white-space: nowrap;
            }
            .play-button-1pL {
              padding: 1.789rem 1.789rem 1.789rem 2.482rem;
              background-repeat: no-repeat;
              background-position: center;
              box-sizing: border-box;
              height: 6.815rem;
              position: absolute;
              left: 104.1rem;
              top: 4rem;
              background-size: cover;
              background-image: url('REPLACE_IMAGE:43:152');
              width: 6.8149rem;

              .vector-6at {
                width: 2.544rem;
                height: 3.2379rem;
                object-fit: contain;
                vertical-align: top;
              }
            }
            .min-DvQ {
              left: 66.7rem;
              top: 0.6rem;
              font-size: 2.4rem;
              font-weight: 400;
              line-height: 1.1725;
              letter-spacing: 0.05rem;
              color: #979797;
              font-family: Roboto, 'Source Sans Pro';
              width: 7rem;
              height: 2.9rem;
              position: absolute;
              white-space: nowrap;
            }
          }
        }
      }
    }
  }
}
