
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 192rem;
}
.login-page-CuN {
  width: 100%;
  height: 108rem;
  position: relative;
  overflow: hidden;
  background-size: 100% 100%;
  background-repeat: no-repeat cover;
  background-position: center;
  background-image: url('../assets/bg-pic-bg.png');
  background-color: #ffffff;
}
.login-page-CuN .background-XRr {
  opacity: 0.8;
  width: 199.0277rem;
  height: 121.3574rem;
  position: absolute;
  left: 0;
  top: 0;
  background-color: #111036;
}
.login-page-CuN .background-XRr .vector-1-qxL {
  width: 179.5397rem;
  height: 121.3574rem;
  object-fit: contain;
  vertical-align: top;
}
.login-page-CuN .sign-in-y2x {
  width: 45.3714rem;
  height: 48.2959rem;
  position: absolute;
  left: 127.1rem;
  top: 36rem;
}
.login-page-CuN .sign-in-y2x .rectangle-67a {
  width: 45.3146rem;
  height: 48.2959rem;
  position: absolute;
  left: 0;
  top: 0;
  border: solid 0.4rem #3a389d;
  box-sizing: border-box;
  border-radius: 1.5rem;
}
.login-page-CuN .sign-in-y2x .forgot-password-cLp {
  width: 16.8rem;
  height: 2.7rem;
  position: absolute;
  left: 14.904rem;
  top: 39.8rem;
  text-align: center;
  font-size: 2rem;
  font-weight: 500;
  line-height: 1.33;
  color: rgb(255, 255, 255);
  font-family: Exo, 'Source Sans Pro';
  white-space: nowrap;
}
.login-page-CuN .sign-in-y2x .sign-in-button-grU {
  width: 35.6922rem;
  height: 6.8057rem;
  cursor: pointer;
  position: absolute;
  left: 4.8396rem;
  top: 31.3381rem;
  font-size: 2.4rem;
  font-weight: 700;
  line-height: 1.33;
  color: #ffffff;
  font-family: Exo, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(-91.86deg, #d81f26 105.77%, #c50b4e -1.27%);
  border-radius: 0.8rem;
}
.login-page-CuN .sign-in-y2x .password-7B6 {
  box-sizing: border-box;
  padding: 2.001rem 2.49rem 2.105rem 2.49rem;
  width: 35.6922rem;
  height: 6.8057rem;
  position: absolute;
  left: 4.8396rem;
  top: 20.7514rem;
  font-size: 2rem;
  font-weight: 600;
  line-height: 1.33;
  color: rgb(255, 255, 255);
  font-family: Exo, 'Source Sans Pro';
  white-space: nowrap;
  border: solid 0.4rem #3a389d;
  border-radius: 0.8rem;
}
.login-page-CuN .sign-in-y2x .email-vuE {
  box-sizing: border-box;
  padding: 1.92rem 2.49rem 2.186rem 2.49rem;
  width: 35.6922rem;
  height: 6.8057rem;
  position: absolute;
  left: 4.8396rem;
  top: 12.2821rem;
  font-size: 2rem;
  font-weight: 600;
  line-height: 1.33;
  color: rgb(255, 255, 255);
  font-family: Exo, 'Source Sans Pro';
  white-space: nowrap;
  border: solid 0.4rem #3a389d;
  border-radius: 0.8rem;
}
.login-page-CuN .sign-in-y2x .join-free-xqv {
  width: 22.6857rem;
  height: 8.1669rem;
  position: absolute;
  left: 22.6857rem;
  top: 0.0318rem;
  font-size: 2.4rem;
  font-weight: 700;
  line-height: 1.33;
  color: #ffffff;
  font-family: Exo, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url('../assets/rectangle-64.png');
}
.login-page-CuN .sign-in-y2x .sign-in-3Ma {
  width: 8.4rem;
  height: 3.2rem;
  position: absolute;
  left: 6.36rem;
  top: 2.385rem;
  font-size: 2.4rem;
  font-weight: 700;
  line-height: 1.33;
  color: #ffffff;
  font-family: Exo, 'Source Sans Pro';
  white-space: nowrap;
}
.login-page-CuN .line-4-xDe {
  width: 0.6rem;
  height: 0.5rem;
  position: absolute;
  left: 96rem;
  top: 36rem;
  background-color: #ffffff;
}
.login-page-CuN .unlimited-movies-tv-shows-and-more-watch-anywhere-cancel-anytime-tNC {
  width: 59.8rem;
  height: 19.3rem;
  position: absolute;
  left: 21.3rem;
  top: 48.3rem;
  text-align: center;
  font-size: 6.4rem;
  font-weight: 700;
  line-height: 1.1725;
  letter-spacing: 0.05rem;
  color: #ffffff;
  font-family: Roboto, 'Source Sans Pro';
}
.login-page-CuN .unlimited-movies-tv-shows-and-more-watch-anywhere-cancel-anytime-tNC .unlimited-movies-tv-shows-and-more-watch-anywhere-cancel-anytime-tNC-sub-0 {
}
.login-page-CuN .unlimited-movies-tv-shows-and-more-watch-anywhere-cancel-anytime-tNC .unlimited-movies-tv-shows-and-more-watch-anywhere-cancel-anytime-tNC-sub-1 {
  font-size: 3.6rem;
  font-weight: 400;
  line-height: 1.1725;
  letter-spacing: 0.05rem;
  color: #ffffff;
  font-family: Roboto, 'Source Sans Pro';
}
.login-page-CuN .netflixlogocmyk-2-sdS {
  width: 50.9rem;
  height: 21.4rem;
  position: absolute;
  left: 70.6rem;
  top: 8.8rem;
  object-fit: cover;
  vertical-align: top;
}
